<h1>Articles listing pages</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Discription</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.discription %></td>
			<td>placeholder</td>
		</tr>
		<%end%>
	</tbody>
</table>